p {

  display: flex;
  flex-flow: row wrap;
}

.atf{
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 60%;
  width: 25%;
  border: 2px solid #D7DBDD;
  font-size: 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;


}

.icon {
  fill: #BBD2DB;
  height: 25vh;
}

.top{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #56727d;
  height: 85%;
  width: 100%;

}

.bottom{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 15%;
  background-color: #EEF3F5;
  color: #67808A;
  border-top: #D7DBDD;
  font-weight: 900;

}
