header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid red;
  background-image: url("orco.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;

}

p{
  align-self: flex-end;
  color: white;
  font-size: 4rem;
}
