div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("../../section07/img/dog.jpg");
  background-size:cover;
  background-repeat: no-repeat;
}

img {
  border: 10px groove orangered;
  border-radius: 100%;
}

.dogone {
  border: 10px dashed orangered;
  border-radius: 100%;
}

.dogtwo{
  border: 10px dotted orangered;
  border-radius: 100%;
}

.dogthree{
  border: 10px double orangered;
  border-radius: 100%;
}
