body{
  max-width: 700px;
  margin: 15px auto;
}
nav, main {
  border: 2px solid red;
  box-sizing: border-box;
}

nav {
  float: left;
  width: 25%;
  height: 300px;
}
main {
  float: right;
  width: 75%;
  height: 300px;
}
