body  {
  font-family: 'Alice', sans-serif;
}

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', serif;
  padding: 2rem;
  height: 20vh;
}

header h1 {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
}

header nav {
  display: none;
}


header nav a {
  background-color: #dbdbdb;
  padding: 0.5rem;
  border-radius: 3px;
}

header nav div{
  width: 25%;
  border-bottom: 1px solid darkgrey;
  padding:0;
  background-color: #00000;
}




.banner{
  background-image: url("../img/fam_blur_under_600_web_medium.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;

  color: white;
}

h1 {
  font-size: 4rem;
}

.banner p {
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.button  {
  background-color: red;
  color: white;
  padding: 0.5rem;
  margin: 1rem 0;

}


section {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
}

section a {
  align-self: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: underline;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

aside {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

aside div {
  margin: 1.5rem;
}
aside img {
  display: none;
}

ol{
  list-style: decimal;
}
p{
  color: #BB8F8F;
  margin: 0 0 1rem 0;
  line-height: 1.3rem;
}

.contact{
  text-align: center;
  width: 100%;
}

.photo{
  background-image: url("../img/us_left_web_30.jpg");
  background-size: cover;
  width: 100vw;
  height: 50vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  color: white;

}

div>p   {
  color: red;
  font-size: 1.5rem;
}
div>address{
  color:red;
  font-size: 3rem;
}

footer{
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

}

footer > p {
  color: black;
}
