img {
  border-radius: 50%;
  border: 20px groove yellow;
  display: block;
  margin: 0 auto;
}

div {
  background-color: seagreen;
  border: 5px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 10px
}

html{
  background-color: teal;
}
