body{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

svg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: 2rem;
  fill: rgba(0,0,0,0.2);
  border: 2px inset rgba(0,0,0,0.2);


}
