.Header{
  background-color: red;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.Article{
  background-color: lightblue;
  width: 100%;
  padding: 1rem;
  text-align: left;
}

.Aside1{
  background-color: gold;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.Aside2{
  background-color: hotpink;
  width: 100%;
  padding: 1rem;
  text-align: center;
}


.Footer{
  background-color: lightgreen;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

body {
  /*padding: 1rem;*/
  margin: 2px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 90%;
}
