body {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.icon{
  fill: #bbd2db;
}

h1 {
  color: #86969c;
  font-size: 6rem;
  margin: 1rem;
}

h2 {
  color: #88989e;
  font-size: 3rem;
  margin: 1rem;
}

button{
  background-color: #48bae6;
  font-size: 2rem;
  color: whitesmoke;
  border: 1px solid #00a1d9;
  border-radius: 3px;
  padding: 1rem 2rem;
  margin: 1rem;
}
